body {
	background-color: black
}

h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	color: red;
	text-align: center;
}

h2 {
	border: 4px solid red;
	border-radius: 12px;
	background-color: black;
	color: red
}

img {
	max-width: 25%;
	max-height: 25%;
}

div {
	text-align: center;
	font-family: "Arial Black", Gadget, sans-serif;
	color: red
}

a {
	color: red
}

a:hover {
	color: blue
}

#grad {
	background: linear-gradient(to bottom right, black, purple);
}

#grad1 {
	height: 100vh;
	background: linear-gradient(to bottom right, black, purple);
}

header {
	border: 4px solid red;
	border-radius: 12px;
	background-color: black;
}

#lowerimage {
	max-width: 33%;
	max-height: 33%;
}